body {
    background: #c6ff5d;
    margin:0;
    padding:0;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}
nav{
    background-color:#333;
    margin:0;
    font-size:16px;
	float:right;
}

nav> a{
    color:#aaa;
	background-color:black;
    text-decoration:none;
    padding: 25px 25px;
    float:right;
}

nav>a:hover{
    background-color:#CFCACA;
}

article{
	overflow:hidden;
	width:960px;
	margin:100px auto 0px;
}

#indexinfo{
    width:40%;
    float:left;
}

#indexexample{
    width:60%;
    float:right;
}

#navbar
{
	width:960px;
	margin:0px auto;
}

#indexexample > img{
    width:200px;
}