*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Calibri Light","Century Gothic","Arial";
}

body{
    background-color: #e5e5e5;
}

img{
    display: block;
    margin-left: auto;    max-width: 100%;
    margin-right: auto;
    height: auto;
}

.navbarButton {
    background-color: #aaaaaa;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 1% 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

section{
    float: left;
    margin: 12.5px 1.5% 12.5px 1.5%;
    width: 40%;
}


.navbar {
    padding: 1% 0;
    text-align: center;
    background-color: #333333;
}

footer {
    background-color: black;
    color: white;
}

/*TOP SECTION*/
#topSection{
    background-color: #333333;
    width: 100%;
}

/*GROUPS*/
.group{
    clear: both;
    height: 20%;
}

.group2 {
    clear: both;
    text-align: right;
}

.group h1, .group2 h1{
    margin-top: 5%;
}

.group h1, .group h2, .group2 h3{
    color: white;
}

.group h3, .group2 h2, .group2 h1{
    color: dimgray;
}

#gameImg{
    margin-left: auto;
    margin-right: 0;
}
#gameImg2, #shopImg2{
    display: none;
}
#shopImg{
    margin-left: 0;
    margin-right: auto;
}

/*PARALLAX*/
.parallax, .circleSection{
    background: url("../Images/classroom.jpg") repeat fixed 100%;
}
.parallax-inner, #circleSection-inner {
    padding: 5% 0;
}

.parallax-inner h2{
    text-align: center;
    font-size: 275%;
    color: #E5E5E5;
    text-transform: uppercase;
}

#formArticle
{

}

/*about us page*/
#backgroundInfo{
    width:100%;
}
.developersImg{
    border-radius:150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
#sectionPeoplePictures
{
    width:100%;
}
.developer{
    float:left;
    text-align:center;
    width:25%;
    margin-top:10px;
}


/*Form for contact*/
.contactfield {
    padding:4px;
    margin:1px;
}
.contactfield > label {

}
.contactfield > input {
    display: inline-block;
    width: 100%;
    font-size:15px;
}

#frmContactSubmitButton{
    background-color: #3498db;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 1% 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    float:right;
}

.downloadLink{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 10px 60px;
    margin: 30px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.centerContent{
    width:800px;
    margin:0 auto;
}

.centerContentContact{
    width:550px;
    margin:35px auto 0px auto;
}

.centerContentDownload{
    width:550px;
    margin:35px auto 0px auto;
}
#topSection{
    background-image: url("../Images/headerimg.png");
    height:635px;
    background-repeat:no-repeat;
    background-position:center;
}

#requirements{
    float:left;
}
#downloadLink{
    float:right;
}
/*Desktops and laptops*/
@media (min-width: 1024px) {

}
/*Tablets*/
@media (min-width: 680px) and (max-width: 1024px)  {

    #gameImg, #shopImg{
        display: none;
    }

    #gameImg2, #shopImg2{
        display: block;
    }

    /*different navbar*/
}
    /*Smartphone*/
@media (min-width: 320px) and (max-width:480px ) {


    /*Hide images*/
    #gameImg, #gameImg2, #shopImg, #shopImg2, .parallax-inner{
        display: none;
    }
    section,h1,p,label{
        font-size-adjust: 0.4;
        float:none;
        width:300px;
        margin:0 auto;
    }

    .developer {
        float: none;
        width: 100%;
    }

    #requirements{
        float:none;
        width:250px;
        margin:0 auto;
    }
    #downloadLink{
        float:none;
    }
    #topSection{
        background-image: url("../Images/homepage-mobile.png");
        height:150px;
        background-size:100%;
    }
    /*PARALLAX*/
    .parallax, .circleSection{
        background:black;
    }

    .centerContent, .centerContentDownload {
        width: 310px;
    }

    textarea,.centerContentContact{
        width:280px;
    }

    .navbar {

    }
}
@media screen and (min-width:800px) and (max-width: 1280px) {
    /*Hide images*/
    #gameImg, #gameImg2, #shopImg, #shopImg2{
        display: none;
    }

    /*Display different compact navbar*/
    .navbar {
    }

    .group, .group2{
        text-align: center;
        clear: both;
        width: 100%;
    }
}
