/*Desktop design mainly, differences are corrected in the @media tags below*/
/*Set font family and standard values for everything*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Calibri Light","Century Gothic","Arial";
}

/*Color for all the content below the header*/
body{
    background-color: #e5e5e5;
}

/*Displays all the images standard in a block, along with left and right automatically*/
img{
    display: block;
    margin-left: auto;
    max-width: 100%;
    margin-right: auto;
    height: auto;
}

/*Sections in general*/
section{
    float: left;
    margin: 12.5px 1.5% 12.5px 1.5%;
    width: 40%;
}

/*Footer*/
footer {
    background-color: black;
    color: white;

}

/*CLASSES*/
.navbar {
    padding: 15px 0;
    text-align: center;
    background-color: #333333;
}

/*One navbar button, might change all this later*/
.navbarButton {
    background-color: #aaaaaa;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
}


/*Homepage*/
/*TOP SECTION*/
#topSection{
    background-color: #333333;
    width: 100%;
    background-image: url("../Images/headerimg.png");
    height:635px;
    background-repeat:no-repeat;
    background-position:center;
}

/*GROUPS for the sections with group being left and group2 being right*/
.group{
    clear: both;
    height: 20%;
}

.group2 {
    clear: both;
    text-align: right;
}

.group h1, .group2 h1{
    margin-top: 5%;
}

.group h1, .group h2, .group2 h3{
    color: white;
}

.group h3, .group2 h2, .group2 h1{
    color: dimgray;
}

/*The images for a bigger resolution*/
#gameImg{
	float:right;
}

#shopImg{
	float:left;
}

/*The images for a lower resolution*/
#gameImg2, #shopImg2{
    display: none;
}

/*PARALLAX*/
.parallax, .circleSection{
    background: url("../Images/classroom.jpg") repeat fixed 100%;
}

.parallax-inner, #circleSection-inner {
    padding: 5% 0;
}

/*about us page*/
/*Centers content horizontally of About us */
.centerContent{
    width:600px;
    margin:0 auto;
}

/*The backgroundinfo div, along with the info + the images in it*/
#backgroundInfo{
    width:100%;
}

/*The images styling of the developers, border radius for mozilla,chrome and other browsers*/
.developersImg{
    border-radius:150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

/*Styling for one of the developer divs*/
.developer{
    float:left;
    text-align:center;
    width:25%;
    margin-top:10px;
}


/*Contact page*/
/*Centers content horizontally of contact*/
.centerContentContact{
    width:550px;
    margin:35px auto 0px auto;
}

/*Contact fields + submit button*/
.contactfield {
    padding:4px;
    margin:1px;
}
.contactfield > label {

}
.contactfield > input {
    display: inline-block;
    width: 100%;
    font-size:15px;
}

#messageInput{
	width:100%;
}

#frmContactSubmitButton{
    background-color: #3498db;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;

    float:right;
}

/*Download page*/
/*Centers content horizontally of download*/
.centerContentDownload{
    width:550px;
    margin:35px auto 0px auto;
}

/*The requirements along with the picture on the right*/
#requirements{
    float:left;
}
#imageDownloadRight{
    float:right;
}

/*The a href link that we transformed into looking like a button*/
.downloadLink{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 10px 60px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
}


/*Tablets*/
@media (min-width: 680px) and (max-width: 1024px)  {

    #gameImg, #shopImg{
        display: none;
    }

    #gameImg2, #shopImg2{
        display: block;
    }
	
	#topSection{
		background-size:100%;
		height:380px;
	}

    /*different navbar*/
}

/*Smartphone*/
@media (min-width: 320px) and (max-width:480px ) {


    /*Hide images*/
    #gameImg, #gameImg2, #shopImg, #shopImg2, .parallax-inner{
        display: none;
    }
    section,h1,p,label{
        font-size-adjust: 0.4;
        float:none;
        width:300px;
        margin:0 auto;
    }

    .developer {
        float: none;
        width: 100%;
    }

    #requirements{
        float:none;
        width:250px;
        margin:0 auto;
    }
    #imageDownloadRight{
        float:none;
		margin-top:10px;
    }
    #topSection{
        background-image: url("../Images/homepage-mobile.png");
        height:150px;
        background-size:100%;
    }
    /*PARALLAX*/
    .parallax, .circleSection{
        background:black;
    }

    .centerContent, .centerContentDownload {
        width: 310px;
    }

    textarea,.centerContentContact{
        width:280px;
    }

    .navbar {

    }
}
